.cart-items-list,
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.cart-item {
    padding: 1em;
    display: flex;
    gap: 30px;
    border: 1px solid gray;
}

.cart-item-qty {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    font-size: 1.3em;
}

.cart-item-qty input {
    font-size: 0.9em;
    max-width: 100px;
}

.item-price {
    margin-top: 5px;
}

.cart-item-qty button {
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 1em;
}

.cart-item-image-container {
    align-self: center;
    display: flex;
    justify-content: center;
    max-width: 150px;
    height: 195px;
}