header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 2em;
}

.header-img {
    width: 45px;
    height: 45px;
}

header > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav {
    display: flex;
    gap: 30px;
}

nav img {
    width: 30px;
}

.nav-store {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

.nav-cart {
    position: relative;
}

small {
    font-size: 1em;
    position: absolute;
    text-decoration: none;
    left: 30px;
    top: 20px;
}

@media screen and (max-width: 500px) {
    .header-title {
        display: none;
    }
}