@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.app {
    margin: auto;
    max-width: 1000px;
    padding: 1em 1.5em;
}

.divider {
    border: 1px solid gray;
    max-width: 1000px;
    margin: 1em 0;
}

* {
    margin: 0;
    padding: 0;
}